@use "../../../styles/variables";

.educationAndExperience {
  display: flex;
  flex-direction: column;
  margin-bottom: variables.$gap_m;
  height: 100%;
  overflow: hidden;

  .filterWrapper {
    display: flex;
    justify-content: center;
    gap: variables.$gap_s;
    margin-bottom: variables.$gap_xs;

    button {
      opacity: variables.$op_low;

      &.selected {

        opacity: variables.$op_full;
      }
    }
  }

  .cardList {
    overflow: auto;
    scroll-behavior: smooth;
  }

  .entry {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: variables.$gap_xs;
    padding: variables.$gap_s variables.$gap_m;
    margin-bottom: variables.$gap_s;
    margin-right: variables.$gap_s;
    border-radius: 1rem;
    background-color: rgba(variables.$color_bone,
        variables.$op_lowest );
    box-shadow: 5px 5px 0 rgba(variables.$color_bone, variables.$op_medium);

    transition: padding variables.$animation_default;


    .title {
      @include variables.title;
      border-bottom: 2px solid variables.$color_bone;
    }

    .subtitle {
      @include variables.subtitle;
    }

    .dates {
      font-style: italic;
    }

    .stack {
      display: flex;
      flex-wrap: wrap;
      gap: variables.$gap_xs;

      span {
        @include variables.quote;
        border-radius: 1000px;
        background-color: rgba(variables.$color_seagull, variables.$op_medium);
        padding: variables.$gap_xs variables.$gap_s;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: variables.$gap_xs;

        img {
          height: 20px;
          opacity: variables.$op_high;
          filter: brightness(0) invert(1);
        }

        @include variables.mobile_rules {
          padding: variables.$gap_xs;

          img {
            height: 16px;

          }
        }
      }
    }

    .descriptionLine {
      margin-bottom: 0.5ch;
    }

    // &.experience {
    //   background-color: rgba(variables.$color_leaf, variables.$op_medium);
    // }

    // &.education {
    //   background-color: rgba(variables.$color_seagull, variables.$op_medium);
    // }
  }
}