// COLORS
$color_wine: #750F5C;
$color_bone: #E5DCC5;

$color_leaf: #018E42;
$color_seagull: #848FA5;
$color_swamp: #2E382E;

$color_main: rgb(29, 26, 43);
$color_text: $color_bone;
$color_subtle: $color_seagull;


// GAP
$gap_xxl: 16rem;
$gap_xl: 8rem;
$gap_l: 4rem;
$gap_m: 2rem;
$gap_s: 1rem;
$gap_xs: .5rem;
$gap_xxs: .25rem;

//TIMES
$animation_default: .3s;

// FONT SIZES
$fontsize_xxxl: 6rem;
$fontsize_xxl: 4rem;
$fontsize_xl: 2rem;
$fontsize_l: 1.5rem;
$fontsize_m: 1rem;
$fontsize_s: .75rem;
$fontsize_xs: .5rem;
$fontsize_xxs: .25rem;

//OPACITY

$op_invisible: 0;
$op_lowest: .1;
$op_low: .2;
$op_medium: .5;
$op_high: .7;
$op_full: 1;

// MEDIAS
$mobile_break: 700px;
$tablet_break: 1023px;

// RESPONSIVE
@mixin mobile_rules {
  @media (width < $mobile_break) {
    @content;
  }
}


@mixin tablet_rules {
  @media (width < $tablet_break) {
    @content;
  }
}

@mixin full_width_container {
  padding: 0 $gap_xxl;
  transition: padding $animation_default;

  @include tablet_rules {
    padding: 0 $gap_s;
  }

  @include mobile_rules {
    padding: 0 $gap_s;
  }
}

@mixin left_column_container {
  padding-left: $gap_xl;
  transition: padding $animation_default;

  @include tablet_rules {
    padding-left: $gap_m;
  }

  @include mobile_rules {
    padding-left: $gap_s;
  }
}

@mixin right_column_container {
  padding-right: $gap_xl;
  transition: padding $animation_default;

  @include tablet_rules {
    padding-right: $gap_m;
  }

  @include mobile_rules {
    padding-right: $gap_s;
  }
}


// TEXT
@mixin main_title {
  font-size: $fontsize_xxxl;

  @include mobile_rules {
    font-size: $fontsize_xxl;
  }
}


@mixin title {
  font-size: $fontsize_xl;
  font-weight: bold;

  @include mobile_rules {
    font-size: $fontsize_l;
  }
}

@mixin subtitle {
  font-size: $fontsize_m;
}

@mixin text {
  font-size: $fontsize_m;
}

@mixin quote {
  font-size: $fontsize_s;
}