@use "../../../styles/variables";

.projects {
  width: 100%;
  height: 100%;
  overflow: auto;

  .scrollWrapper {
    position: relative;

    width: 100%;
    min-height: 700px;
    height: 100%;

    padding: variables.$gap_s 0 variables.$gap_l;

    flex-shrink: 0;

    overflow: auto;

    user-select: none;

    cursor: grab;

    &:active {
      cursor: grabbing;
    }

  }

  &::-webkit-scrollbar {
    display: none;
  }

  .year {
    flex-shrink: 0;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 1px;
    background-color: variables.$color_text;
    opacity: variables.$op_low;

    &.now::before {
      bottom: 50%;
    }

    &::before {
      content: attr(data-year);
      position: absolute;
      left: -8px;
      bottom: 10px;
      rotate: 90deg;
    }

    @include variables.tablet_rules {
      display: none;

      &:nth-child(2n + 1) {
        display: block;
      }
    }

    @include variables.mobile_rules {
      display: none;

      &:nth-child(4n + 1) {
        display: block;
      }
    }
  }

  .timeline {
    position: absolute;
    box-sizing: content-box;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: variables.$gap_xs;

    .line {
      flex-shrink: 0;
      flex-grow: 0;
      background-color: variables.$color_text;
      height: variables.$gap_s;
      min-width: variables.$gap_s;
      border-radius: 1000px;

      @include variables.mobile_rules {
        &:target+.tag {
          height: auto;
          overflow: visible;
        }
      }
    }

    .tag {
      flex-grow: 0;
      flex-shrink: 1;

      text-wrap: balance;

      opacity: variables.$op_high;

      .entity {
        @include variables.quote;
        font-style: italic;
      }
    }
  }
}