@use "../../styles/variables";

.header {
  @include variables.left_column_container;

  grid-area: header;
  height: 100%;

  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  gap: variables.$gap_m;

  text-align: right;

  overflow: auto;

  .titleWrapper {
    width: 100%;

    .title {
      @include variables.main_title;
      width: fit-content;

      padding-bottom: variables.$gap_s;
      border-bottom: 8px solid rgba(variables.$color_text, variables.$op_medium);

      display: inline-block;

      color: rgba(variables.$color_text, variables.$op_medium);
      text-wrap: balance;
      line-height: 1.5ch;

      .name {
        color: variables.$color_text;
      }
    }
  }

  .aboutMe {
    display: flex;
    flex-direction: column;
    gap: variables.$gap_m;
    width: 80%;
    transition: width variables.$animation_default;

    p {
      border-radius: 1rem;
      transition: background-color 1s;
      text-wrap: balance;
    }

    @include variables.tablet_rules {
      width: 100%;
      gap: variables.$gap_xs;
    }
  }

  @include variables.tablet_rules {
    align-items: center;
    text-align: center;
  }

  @include variables.mobile_rules {
    @include variables.full_width_container;
    position: relative;

    height: 100dvh;
  }
}