@use "../../styles/variables";

.showcase {
  @include variables.right_column_container;
  grid-area: main;

  width: 100%;
  height: 100%;
  overflow: hidden;

  display: grid;
  grid-template-rows: auto 1fr;

  .header {
    max-width: 100%;

    margin-top: variables.$gap_m;
    margin-bottom: variables.$gap_m;

    display: flex;
    justify-content: space-around;
    gap: variables.$gap_s;
    flex-wrap: wrap;

    .tab {
      width: fit-content;
      text-align: center;
      text-wrap: nowrap;
      opacity: variables.$op_medium;

      text-transform: uppercase;
      opacity: variables.$op_low;

      img {
        height: 32px;
        filter: brightness(0) invert(1);
      }

      &.selected {
        font-weight: bold;
        opacity: variables.$op_high;
      }
    }
  }

  @include variables.mobile_rules {
    @include variables.full_width_container;
  }
}