*{
    margin:0;
    border:0;
    padding:0;
}
body{
    height:100vh;
    font-family: "Barlow", sans-serif;
    background-color:#3f3f3f;
}

a{
    color:#ffffff;
    text-decoration: none;
}

#root{
    height:100%;
}

.main{
    position:relative;
    text-align: center;
    top:50px;
    width:400px;
    margin:auto;
    color:#ffffff;
    border-radius: 10px;
}

.info--section{
    padding-bottom:15px;
    border-radius:10px 10px 0 0;
    background-color:#003d03;
}

.info--pic{
    width:100%;
    border-radius:10px 10px 0 0;
}

.info--name{
    margin-top:10px;
    font-size:36px;
}

.info--extra{
    margin-top:0;
    font-weight:100;
    font-style:italic;
}

.info--links{
    display:flex;
    justify-content: center;
    margin-top:20px;
    font-size:18px;
    font-weight:400;
    list-style-type:none;
}

.info--links > li{
    display:flex;
    justify-content: center;
    align-items:baseline;
    width:125px;
    height:25px;
    margin:0px 15px;
    background-color:#008a07;
    border-radius:5px;
}
.info--links > li > img{
    width:15px;
    margin-right:4px;
}
.info--links > li > a{
    cursor:pointer;
}

.about{
    background-color:#003d03;
    padding: 20px 35px 0px 35px;
    text-align:left;
}
.about--title{
    font-size:24px;
}

.interests{
    background-color:#003d03;
    padding: 20px 35px 20px 35px;
    text-align:left;

}
.int--title{
    font-size:24px;
}

.footer{
    padding: 15px 50px 10px 50px;
    display:flex;
    justify-content:center;
    background-color: #002202;
    border-radius: 0 0 10px 10px;
}

.footer--img {
    width:30px;
}
.footer > a{
    margin:0 25px;
}